<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}i22 fragt nach{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>i22 fragt nach</h1>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
