{% extends 'base.html.twig' %}

{% block body %}
  <h2>Umfragenübersicht</h2>
  <div class="col-md-8 col-md-offset-2">
    {% for survey in surveys %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <a href="/umfrage/{{ survey.id }}" class="panel-title">{{ survey.title }}</a> <a class="panel-title" href="/results/{{ survey.id }}">Zu den Ergebnissen</a>
        </div>
      <div class="panel-body"> {{ survey.author }} </div> </div>
    {% endfor %}
  </div>
{% endblock %}
