{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% for question in questions %}
            {{ question.text }} <br><br>
            {% for answer in question.answers %}
                {% if question.totalVoteCount() >0 %}
                    {% set progress = (answer.voteCount / question.totalVoteCount() *100) | round(2) %}
                {% else %}
                    {% set progress = 0 %}
                {% endif %}
                <div class="progress cols-md-8">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                         aria-valuenow="{{ answer.voteCount }}" aria-valuemin="0"
                         aria-valuemax="{{ question.totalVoteCount() }}" style="width: {{ progress }}%">
            <span>
              {{ answer.text }}
                {{ progress }}%
            </span>
                    </div>
                </div>
            {% endfor %}
            <br><br>
        {% endfor %}
    </div>
    <a href="{{ path('homepage') }}">Zum Index</a>
{% endblock %}

