{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block body %}
    {{ form_start(form) }}
    <h2>{{ survey.title }}</h2>

    <div class="col-md-8 col-md-offset-2">
        {% for question in form.questions %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ question.vars.data.text }}</h3>
                </div>
            </div>
            {% if form_errors(question.answers) %}
                <div class="alert alert-danger">
                    Fehler:
                    {{ form_errors(question.answers) }}
                </div>
            {% endif %}
            <ul class="answer">
            {% for answer in question.answers %}
                <li>
                    <label {% if form_errors(question.answers) %} class="alert alert-danger" {% endif %}>
                        {{ form_widget(answer) }} {{ answer.vars.data.text }}
                    </label>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
        {{ form_rest(form) }}
        <input class="btn btn-info" type="submit" value="Absenden">
    </div>
    {{ form_end(form) }}
{% endblock %}
