{% extends 'base.html.twig' %}

{% macro link(path_param, id, var, action) %}
    {% if action == 'delete' %}
        {% set icon='glyphicon-remove' %}
    {% elseif action == 'edit' %}
        {% set icon='glyphicon-edit' %}
    {% else %}
        {% set icon='glyphicon-plus' %}
    {% endif %}
    <a href="{{ path(path_param, {(var): id}|default) }}">
        <span class="glyphicon {{ icon }}"></span>
    </a>
{% endmacro %}

{% block body %}
<h1>Adminbereich - Liste der Umfragen</h1>
    <!-- Surveys -->
    {% for survey in surveys %}
        <h4 class="alert alert-info">
            {{ survey.title }}
            {{ _self.link('create_survey', survey.id, 'survey', 'edit') }}
            {{ _self.link('delete_survey', survey.id, 'survey', 'delete') }}
            {{ _self.link('create_question', null, null, 'add') }}
        </h4>
        <ul class="list-group">
        {% for question in survey.questions %}
            <li class="list-group-item">
                {{ question.text }}
                {{ _self.link('create_question', question.id, 'question', 'edit') }}
                {{ _self.link('delete_question', question.id, 'question', 'delete') }}
                {{ _self.link('create_answer', null, null, 'add') }}

                {% if question.answers|length %}
                <ul class="list-group">
                    {% for answer in question.answers %}
                    <li class="list-group-item">
                        {{ answer.text }}
                        {{ _self.link('create_answer', answer.id, 'answer', 'edit') }}
                        {{ _self.link('delete_answer', answer.id, 'answer', 'delete') }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
    <!-- End Surveys -->
    <a href="{{ path('create_survey') }}">Create</a>

{% endblock %}