.progress-bar {
  span {
    color: #000;
    position: absolute;
  }
}

label {
  display: block;
  font-weight: normal;
}
label > div, label > div > div {
  display: inline;
}

.answer {
  list-style-type: none;
}